logging:
  level:
    root: INFO
    org.springframework.security: DEBUG 
    org.hibernate.SQL: DEBUG

spring:
  data:
    redis:
      host: redis
      port: 6379
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
